/*your custom CSS here*/
body {
  background-image: url(../img/heading.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;}
}
h1 {
  margin: 500px 500px 500px 500px;
  text-align: center;
}
img {
  width: 100%;
}

