/*your custom CSS here*/
.heading {
  background-image: url(../img/heading.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
.heading h1 {
  color.#fff;
  font-size 50px;
  text-align: center;
  width: 100%;
}
img {
  width: 100%;
}

