/*your custom CSS here*/
body {
  background-image: url(../img/heading.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;}
}
.heading {
  position: fixed;
  width: 100%;
  top:100;
  left:100;
  padding: 100px 10px 100px 10px;
  text-align: center;
}

